@import "./fonts.css";
@import "./overrides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h-page {
    @apply h-screen;
  }
}

.h-page {
  height: calc(100vh - 64px);
  height: calc(100dvh - 64px);
}
.h-app-page {
  height: calc(100vh - 64px);
  height: calc(100dvh - 64px);
}
